.text{
   color: black;
}
.sabaneta{
   color: rgb(87, 70, 38);
}
.black-dolphin{
   color: rgb(127, 125, 125);
}
.central{
   color: green;
}
.north{
   color: red;
}
.tbilisi{
   color: rgb(97, 97, 24);
}
.san-juan{
   color: pink;
}
.guinea{
   color: brown;
}
.kenya{
   color: blueviolet;
}
.death{
   color: deeppink;
}
.turkey{
   color: dodgerblue;
}